.button{
    font-size: 15px;
font-family: 'POPPINS';
font-weight: 600;
color: #ffffff;
border-radius: 8px;
margin: 25px auto 0;
border: none;
background: linear-gradient(107.61deg, #00A7B4 15.59%, #A4D96C 87.25%);
cursor: pointer;
text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}