.input{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80px;
    justify-content: space-between;
    margin: 20px 20px;

    & span{
        color: #add77b;
    font-family: Montserrat;
    font-size: 13px;
    }

    & label{
        color: #3B3E44;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    }
    & input{
        background: #E7ECF3;
    border-radius: 8px;
    height: 40px;
    outline: none;
    border: 1px solid transparent;
    font-family: Montserrat;
    font-weight: 600;
    padding: 0 10px;
    caret-color: #add77a;
    font-size: 13px;
    color: #add77a;
    &:focus{
        background-color: white;
        border:2px solid #E7ECF3
    }
    }
}